.container {
    text-align: center;
}
.like-count {
    font-size: 1.2rem;
    margin-left: 5px;
}
body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}
.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color:#ff0081;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #ea2027;
  margin: 3px auto;
  bottom : 3px;
transform: rotate(45deg);
  transition: transform ease-in 0.3s;
}
  .bubbly-button-child1 {
    width: 15px;
    height: 15px;
    position: absolute;
    left: -50%;
    top: 0%;
    border-radius: 50%;
    background-color: #ea2027;
  }
  .bubbly-button-child2 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -50%;
    border-radius: 50%;
    background-color: #ea2027;
  }
  .bubbly-button:active{
    transform: rotate(-45deg);
    transform: scale(1.3);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
